.history {
  width: 100vw;
  position: relative;
  background-color: var(--white-100-alpha-84);
  margin-bottom: 150px;
  span {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 4rem;
    color: var(--primary-1-100);
  }
  @media screen and (max-width: 800px) {
    span {
      font-size: 11vw;
    }
  }
}

.logo {
  width: 40vw;
  height: 366px;
  position: absolute;
  top: calc(50% - 183px);
  left: calc(50% - 20vw);
  z-index: -1;
  img {
    object-fit: contain;
    width: 100%;
  }
}
.containers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 50px;
  padding: 0 200px;
  margin-top: 30px;
  @media screen and (max-width: 920px) {
    padding: 0;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 40px;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  div {
    &:nth-child(2) {
      font-size: 2rem;
      color: var(--primary-1-100);
      margin-bottom: 10px;
    }
  }

  padding: 40px;
  text-align: center;

  width: 250px;
  background-color: var(--gray-100);
  border-radius: 5px;
  height: 350px;

  border-top: 3px solid var(--primary-1-100);
  svg {
    width: 60px;
    height: 60px;
    fill: var(--primary-1-100);
    margin-bottom: 30px;
  }
  button {
    margin-top: 20px;
  }
}
