.btn {
    border-radius: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity ease-out 300ms;
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            opacity: 0.8;
        }
    }
}
.color_1 {
    background-color: var(--primary-1-100);
    color: var(--white-100);
    border: 0px solid var(--primary-1-100);
    transition: background-color ease-out 300ms, color ease-out 300ms;
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            opacity: 1;
            border: 1px solid var(--primary-1-100);
            background-color: var(--white-100);
            color: var(--primary-1-100);
        }
    }
}
.color_2 {
    background-color: var(--primary-2-100);
    color: var(--black-100);
}
.color_3 {
    background-color: var(--primary-3-100);
    color: var(--black-100);
}
.color_4 {
    background-color: var(--primary-4-100);
    color: var(--black-100);
}
.color_5 {
    background-color: var(--white-100);
    color: var(--primary-1-100);
    border: 1px solid var(--primary-1-100);
    transition: background-color ease-out 300ms, color ease-out 300ms;
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            opacity: 1;
            background-color: var(--primary-1-100);
            color: var(--white-100);
        }
    }
}
.sm {
    height: 42px;
    width: 149px;
    font-size: 0.75rem;
}
.md {
    height: 48px;
    width: 180px;
    font-size: 0.875rem;
}
.lg {
    height: 58px;
    width: 220px;
    font-size: 1rem;
}
