.history {
    width: 100vw;
    position: relative;
    background-color: var(--white-100-alpha-84);
    margin-bottom: 150px;
    span {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 4rem;
        color: var(--primary-1-100);
    }
    @media screen and (max-width: 800px) {
        span {
            font-size: 11vw;
        }
    }
}

.logo {
    width: 40vw;
    height: 366px;
    position: absolute;
    top: calc(50% - 183px);
    left: calc(50% - 20vw);
    z-index: -1;
    img {
        object-fit: contain;
        width: 100%;
    }
}
.p {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    p {
        display: inline-block;
        width: fit-content;
        font-size: 1.5rem;
        span {
            display: inline-block;
            width: fit-content;
            font-size: 1.5rem;
            text-align: left;
            color: var(--primary-1-100);
        }
    }
    @media screen and (max-width: 800px) {
        padding: 0 20px;
        flex-wrap: wrap;
        p {
            width: 100%;
            text-align: center;
        }
    }
}
.images {
    display: flex;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;

    img {
        width: 200px;
        object-fit: contain;
        &:nth-child(2), &:nth-child(4) {
            margin-top: 120px;
        }
    }
    @media screen and (max-width: 995px) {
        padding: 0 20px;
        img {
            margin-top: 0px !important;
        }
    }
}
