.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    margin-bottom: 150px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: var(--gray-200);
    }
}